.card-container {
  padding: 2.5rem 0 0 0;
  border-radius: 0.8rem;
  background-color: var(--color-secondary);
  flex-basis: 30rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 4px rgba(85, 64, 100, 1);
  -moz-box-shadow: 0px 0px 16px 4px rgba(85, 64, 100, 1);
  box-shadow: 0px 0px 16px 4px rgba(85, 64, 100, 1);
}