---
import Header from '../components/root/astro/Header.astro'
import Participants from "./Participants.astro";
import Ocean from "../components/root/astro/Ocean.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Advice Generator App</title>
  </head>
  <body>
    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
      *,body{
        margin:0;
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;
      }
      main{
        background-color: white;
      }
    </style>
      <Header/>
    <main>
        <Participants />
        <Ocean />
    </main>
  </body>
</html>
