---
const { showAll = false } = Astro.props;

const MAX_ITEMS = 50;

async function getAllParticipants() {
  const items = await Astro.glob ("../pages/entry/*/index.astro");

  return items
    .map((item) => item.url.slice(item.url.lastIndexOf("/") + 1))
    .sort(new Intl.Collator("es").compare);
}

const participants = await getAllParticipants();

const shownParticipants = showAll
  ? participants
  : participants.slice(0, MAX_ITEMS);
---

<style>
  .participants{
    width:100%;
    height:auto;
  }
  .greet{
    font-size:3em;
    margin:6rem;
  }
  .participants-title {
    text-align:center;
    margin-top:5rem;
    margin-bottom:1rem;
    font-size:2rem;
  }

  .participants-list{
    width: 100%;
    height: auto;
    position:absolute; 
    z-index: 1; 
  }

  .participants-list-type{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
  }

  .participants-list-type li{
    width:20rem;
    height:20rem;
    box-shadow: 6px 5px 25px black;
    border-radius:100%;
    background-color: #cbd5e1;
    padding:.2rem;
    overflow:hidden;
    z-index:1;
  }

  .participants-list-type img{
    width:100%;
    border-radius:100%;
  }
 
</style>

<div class="participants">
  <h1 class="greet"> Hola,Somos MERMELADA TECH!👋</h1>
  <h2 class="participants-title">
    {participants.length} Participants
  </h2>
  <div class="participants-list">
    <ul class="participants-list-type">
      {
        shownParticipants.map((name) => (
          <li key={name}>
            <a href={"/entry/" + name}>
              <img
                loading="lazy"
                src={"https://unavatar.io/github/" + name}
                alt={name}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
