---
import GeneradorColor from '../../../components/GianinaLC/GeneradorColor';
---

<div className='gianina-container'>
  <h1 className='gianina-title'>Generador Random Color</h1>
  <GeneradorColor client:load />
  <p>Mouse in: Empieza el generador de color</p>
  <p>Mouse out: Detiene el generador</p>
</div>
