---
import { AdviceGenerator } from '../../../components/wayaba/AdviceGenerator';
---

<div>
  <AdviceGenerator client:visible />
</div>

<style>
  :root {
    font-family: "Space Mono", monospace;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d4b5f;
  }
</style>
